/*----- Universal -----*/
html {min-height:100%; position:relative;}
body {margin:0;padding:0;height:100%;}
div.mainBG {
    position:absolute;
    top:0;bottom:0;right:0;left:0;overflow:auto;
    text-align:center;
    background: url(images/sp-back.png);
    background-repeat: repeat;
}

/*----- Menu Screen -----*/
div.mainLogo img { width:100%; }
iframe.announ { margin-top:-45px; width:50%; height:85px; border:none; overflow:hidden; }
div.divMenu { margin-top:-5px; }
div.divSocial { text-align:center; padding-top:5px; }


